.developer-journey {
  .developer-journey-image__container {
    padding: 1rem;
    .developer-journey-image {
      border-radius: 20px;
    }
  }

  .projects {
    list-style-type: none;
    padding: 0;
  }
}
