@use "./colors.scss" as *;

.primary-button {
  color: white;
  background: $primary-color;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.primary-button:hover,
.primary-button:active {
  color: $primary-color;
  background: lightgray;
  border-color: $primary-color;
}
