@use "../../style-utils/colors.scss" as *;

.toggle-button {
  width: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  vertical-align: middle;

  .bar {
    width: 100%;
    height: 0.3rem;
    background: $light-text-color;
    display: block;
    margin: 0.5rem 0;
    border-radius: 50px;
  }
}
