@use "../../style-utils/colors.scss" as *;

.tab-switcher {
  display: flex;
  justify-content: center;
  overflow: hidden;

  border-radius: 10px;

  .active-tab {
    background-color: $primary-color;
    color: $light-text-color;
  }

  button {
    width: 100%;
    border: none;
    padding: 0.5rem;

    cursor: pointer;
  }

  width: 100%;
}
