@use "./style-utils/colors.scss" as *;
@use "./style-utils/buttons.scss" as *;

#root {
  background-image: url("./photos/dlawcons_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50vw;
}

main {
  padding-top: 6rem;

  h1 {
    margin-left: 1.7rem;
  }
}

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
